* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  color: white;
  padding: 20px 100px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.header-image {
  margin: 3px 4px 0 0;
}

.header-text {
  font-size: 20px;
  margin-right: auto;
}

.header-subtext {
  font-size: 15px;
}


