* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.header-image {
  margin-top: 3px;
}
.header-text {
  font-size: 25px;
  margin-right: 200px;
}
